
doctype html
html
  head
    meta(charset='utf-8')
    title Sheridan Slate App
    link(rel='stylesheet', href='../css/index.css')
    link(rel='stylesheet', href='../lib/semantic/dist/semantic.min.css')
  body
    #courses.ui.sidebar.inverted.vertical.menu
    #alert-list.ui.right.sidebar.inverted.vertical.menu
        #alerts.ui.items
    .pusher
        #course-content.ui.top.attached.menu
            a#course-button.item
                i.sidebar.icon 
            .right.menu
                a#alert-button.ui.item Alerts
        // #course-content.ui.vertical.top.menu
    script if (typeof module === 'object') {window.module = module; module = undefined;}
    script(src='../lib/jquery/dist/jquery.min.js')
    script(src='../lib/semantic/dist/semantic.min.js')
    script(src='../js/render.js')
    script if (window.module) module = window.module;
